@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  max-width: 90%;
  margin: 0 auto;
  background: radial-gradient(circle, rgb(125, 88, 13) 15%, rgb(7, 50, 94) 70%);
  color: white;
  position: relative;
}

body > * {
  margin-left: 1em;
}

h2:nth-of-type(2) {
  background-color: rgba(226, 187, 108, 0.35);
}

img {
  width: 30%;
  /* height: 30%; */
  float: right;
  margin: 0.8em;
  position: absolute;
  top: 0;
  right: 2em;
}

p {
  font-family: 'Roboto Slab', serif;
  color: rgb(7, 0, 55);
  /* font-size: 1.2em; */
}

p:first-of-type {
  font-weight: bold;
}

q {
  display: block;
  width: 50%;
  margin: 80px auto;
  font-size: 160%;
  font-style: italic;
  background-color: rgba(74, 74, 74, 0.1);
  padding: 30px;
  text-align: center;
  color: white;
}

.villagers {
  border-left: 3px dashed cadetblue;
}

.farmer {
  border-left: 3px dashed coral;
}

tr:nth-child(odd) {
  background-color: rgba(216, 210, 199, 0.35);
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.35);
}

.good,
.bad {
  text-transform: capitalize;
}

.bad {
  color: red;
}

.good {
  color: lightgreen;
}

a {
  color: rgb(7, 0, 55);
}

a:hover {
  cursor: alias;
}

a:visited {
  color: rgb(7, 0, 55);
}

footer {
  padding-bottom: 1em;
}
